{% for idea in ideas %}
    <div class="border rounded p-4 mb-2">
        <h3 class="font-bold text-lg">{{ idea.title }}</h3>
        <p>{{ idea.content }}</p>
    {% if idea.author_id == user_id %}
        <form action="/idea/{{ idea['_id'] }}/delete" method="post">
        <button class="border rounded px-2">삭제</button>
        </form>
        <form action="/idea/{{ idea['_id'] }}/edit" method="post">
            <details>
                <summary>수정</summary>
                <input name="title" value="{{ idea.title }}" class="border p-2">
                <textarea name="content" class="border p-2">{{ idea.content }}</textarea>
                <button class="border rounded px-4 py-2">수정 등록</button>
            </details>
        </form>
    {% endif %}
    </div>
{% else %}
  <p>아직 아이디어가 없습니다</p>
{% endfor %}

<form action="/idea/{{ team_id }}/add" method="post">
  <input name="title" class="border p-2">
  <textarea name="content" class="border p-2"></textarea>
  <button class="border rounded px-4 py-2">등록</button>
</form>