{% extends "team/detail.html" %}

{% block team_content %}


{% if status == 0 %}
<div>
    <div class="mx-10 mt-6 rounded-lg border-2 border-dashed border-gray-300 p-6 text-center text-gray-400">
        아직 투표 시작 전입니다.
    </div>
    {% if leader == True %}
    <h2 class="mb-5 text-3xl mx-7 mt-6 font-bold">투표 항목 등록</h2>
    <form action="/votes/{{ team_id }}/start" method="post" class="mx-10 mt-6 mb-6 flex flex-col gap-3 rounded-lg border-2 border-blue-500 p-4">
        <input type="text" name="criteria" class="border p-2"></input>
        <input type="text" name="criteria" class="border p-2"></input>
        <input type="text" name="criteria" class="border p-2"></input>
        <input type="text" name="criteria" class="border p-2"></input>
        <input type="text" name="criteria" class="border p-2"></input>
        <button class="border rounded px-4 py-2 border-blue-500  text-blue-500 ">투표 시작</button>
    </form>
    {% endif %}
</div>
{% endif %}

{% if status == 1 %}
{% if vote_check %}
<h3 class="mb-5 text-3xl mx-7 mt-6 font-bold">이미 투표 완료하였습니다.</h3>
{% else %}
<form action="/votes/{{ team_id }}" method="post">

    {% for idea_list in ideas %}
    <div class="border rounded p-4 mb-2">
        <h2 class="font-bold text-lg">{{ idea_list.title }}</h2>
        {% for criteria in criteria %}
        {% set i = loop.index0 %}
        <h3 class="font-bold text-lg">{{ criteria }}</h3>
        {% for n in range(1, 6) %}
        <input type="radio" name=score_{{idea_list._id}}_{{i}} value={{n}} id={{idea_list._id}}_{{i}}_{{n}}>
        <label for={{idea_list._id}}_{{i}}_{{n}}>{{n}}</label>
        {% endfor %}
        {% endfor %}
    </div>
    {% endfor %}
    <button class="border rounded px-4 py-2">투표</button>
</form>
{% endif %}
{% if leader == True %}
<form action="/votes/{{ team_id }}/forcestop" method="post">
    <button class="border rounded px-4 py-2">투표 종료</button>
</form>
{% endif %}

{% endif %}

{% if status == 2 %}
<div>
    {% for ave_score in ave_score %}
    <div class="border rounded p-2 mb-2"></div>
    <h2 class="mb-5 text-3xl mx-7 mt-6 font-bold">{{loop.index}}위 {{ ave_score.title }} : {{ (ave_score.total/voted)|round(1)}}</h2>
    {% for k, v in ave_score.score.items() %}
    <p class="mb-5 text-xl mx-1 mt-1 font-bold">{{k}} : {{v|round(1)}}</p>
    {% endfor %}
    {% endfor %}
</div>
{% endif %}

{% endblock %}
