<!DOCTYPE html>
<html>
    <head>
        <title>PICK ME</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/auth.css') }}"
        >
    </head>
    <body>
        <nav>
            <a href="/">PICKME</a>
            {% if g.user %}
            <span>{{ g.user.nickname }}님</span>

            <form action="{{ url_for('auth.logout') }}" method="POST">
                <button>로그아웃</button>
            </form>
            {% endif %}
        </nav>

        {% block content %}
        {% endblock %}
    </body>
</html>